.carousel {
    display: grid;
    height: 600px;
    width: 80%;
    grid-template-columns: 1fr 11fr 1fr;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.leftbutton, .rightbutton {
   cursor: pointer;
    z-index: 1;
}

.leftbutton {
   transform: rotate(-90deg);
}

.rightbutton {
    transform: rotate(90deg);
 }

 .imgdiv {
     display: flex;
     overflow: hidden;
     background-color: aqua;
     width: 600px;
 }

.activeitem {
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

.item { /*inactive item*/
    
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
  }

.movingright {
    margin-left: auto;
    margin-right: auto;
    display: inline;
    animation: mymove 1s;
}
