

/* Header styles */
.header {
  width: 100%;
  height: 90px;
  background-color: rgb(31, 28, 28);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;

}

.header h1 {
  margin: 10px;
}

.header ul {
  grid-column: 2/3;
  padding: 0px;
  display: grid;
  margin-left: 10%;
  margin-right: 10%;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.headerul li {
  display: inline-block;
}

.headerul li:hover {
  color: orangered;
}

/* styles used in home
*/

.homediv {
  height: auto;
}

.homecontent {
  height: auto;
}

.homecontentdiv {
  padding: 10px;
  height: 700px;
  background-image: url('../public/images/calzone.jpg');
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  text-shadow: 3px 3px 3px #111;
}

.homecontentdiv > div {
  grid-column: 2/3;
  justify-self: center;
  align-items: center;
}

.homecontentdiv > div > h1, .homecontentdiv > div > h2{
  text-align: center;
}

.homebtndiv {
  display: grid;

}

.homebtndiv > button{
  text-shadow: 2px 2px 2px #111;

}

.menucontentdiv {
  padding: 10px;
  height: auto;
  background-color:rgb(61, 58, 58);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 120px;
  align-items: center;
  justify-content: center;
  text-shadow: 3px 3px 3px #111;
}

.menucontentdiv > div > h1, .menucontentdiv > div > h2, .menucontentdiv > div > ul{
  text-align: center;
}

.menucontentdiv > div > ul {
  list-style: none;
  width: 100%;
  display: block;
}

.menucontentdiv > div > ul > li{
  text-align: center;
  width: 100%;

}

.menucontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  row-gap: 150px;
  column-gap: 10px;
  padding: 10px;
  
 
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.menuitem {
  background-color: rgb(31, 28, 28);
  height: 100%;
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px; 
}

.itemdescdiv {
  align-items: center;
}


